
.Content .Theater_Calendar_List_Theater {
	margin-top: 2rem;
}

.Content .Theater_Calendar_List_Theater h4 {
	font-size: 1.25rem;
	margin: 0;
	margin-right: 60%;
	padding: 0.4rem 0;
	background-color: #f26b38;
	color: white;
	padding-left: 0.6rem;
	border-left: 0.7rem solid #491d00;
}

.Content .Theater_Calendar_List_Theater_Ticket {
	border: 1px solid #8b8b8b;
	display: flex;
	flex-direction: row;
	height: 6rem;
	padding: 0 1.2rem;
	align-items: center;
}

.Content .Theater_Calendar_List_Theater_Ticket h5 {
	padding-left: 5%;
	width: 30%;
}

.Content .Theater_Calendar_List_Theater_Ticket_ListTime {
	padding: auto 0;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.Content .Theater_Calendar_List_Theater_Ticket_ListTime>article {
	width: auto;
	height: 100%;
	margin-bottom: 0.15rem;
	margin-top: 0.14rem;
	margin-left: 1vw;
	border: 1px solid #8b8b8b;
	max-width: 6rem;
	min-width: 4rem;
}

.Content .Theater_Calendar_List_Theater_Ticket_ListTime>article:hover {
	border: 1px solid #f5910e;
}

.Content .Theater_Calendar_List_Theater_Ticket_ListTime>article:hover>a {
	color: #f5910e;
}

.Content .Theater_Calendar_List_Theater_Ticket_ListTime>article>a {
	color: #8b8b8b;
	height: 100%;
	padding: 2px 6px;
	text-decoration: none;
}