
.active-Calendar,
.Content .Theater_Calendar ul li:hover {
	border: 2px solid #80d33c;
}

.Content {
	display: flex;
	flex-direction: row;
	margin-top: 2.4rem;
}

.Content .Theater {
	margin-right: 2rem;
	width: 80%;
}

.Content .Theater_Calendar {
	margin: 1.6rem 0;
}

.Content .Theater_Calendar ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.Content .Theater_Calendar ul li {
	margin-bottom: 0.4rem;
	position: relative;
	height: 3.3rem;
	width: 5.1rem;
	border-radius: 8px;
	border: 2px solid #e8e8e8;
}

.Content .Theater_Calendar ul li:hover {
	cursor: pointer;
}

.Content .Theater_Calendar ul li * {
	color: #5a5a5a;
	position: absolute;
	font-size: 1rem;
}

.Content .Theater_Calendar ul li span {
	top: 5%;
	left: 5%;
}

.Content .Theater_Calendar ul li em {
	bottom: 5%;
	left: 5%;
}

.Content .Theater_Calendar ul li strong {
	font-size: 2rem;
	right: 5%;
	margin: auto 0;
}
