@import '../master/user-master.scss';
.poster {
    &_content {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.active {
    visibility: visible !important;
    opacity: 1 !important;
}

.HightLightFilm {
    margin-bottom: 3rem;
    h2 {
        text-shadow: 0 0 8PX #0D0C0C;
        margin-top: 1rem;
        text-align: center;
        font-weight: bold;
        color: red;
        font-family: 'Rammetto_One';
    }
    h3 {
        font-weight: bold;
        font-size: 1.4rem;
        margin-left: 4%;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
    }
}

.ListFilm {
    padding: 0 1.4srem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    &_Item {
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: 80%;
        }
        top:0;
        width: 22%;
        margin:0 auto;
        height: 35vw;
        text-align: center;
        &:hover>&_Button {
            display: block;
        }
        &:hover>img {
            transition: 0.3s;
            opacity: 0.7;
        }
        &_Info {
            h4 {
                font-weight: bold;
                font-size: 1.2vw;
            }
            font-weight: bold;
            font-size: 1.2vw;
            left: 0;
            text-align: start;
            position: absolute;
            bottom: 0;
        }
        &_Button {
            display: none;
            left: 0;
            z-index: 2;
            button {
                transition: 0.3s;
                border-radius: 5px;
                color: white;
                border: 0;
                background-color: #B50505;
                &:hover {
                    background-color: rgb(117, 5, 5);
                }
                &:active {
                    color: #B50505;
                    background-color: rgb(73, 73, 73);
                    border: 0;
                }
            }
            right: 0;
            bottom: 20%;
            position: relative;
        }
    }
}

.Film {
    margin-top: 1.6rem;
}