
 .Present_Film {
	margin-top: 2rem;
}

 .Present_Film_Detail {
	height: 100%;
	position: relative;
	width: 100%;
}

 .Present_Film_Detail:hover>img {
	transition: 0.3s;
	opacity: 0.7;
}

 .Present_Film_Detail:hover {
	cursor: pointer;
}

 .Present_Film_Detail:hover>section {
	display: block;
	transition: 0.8s;
}

 .Present_Film_Detail img {
	height: 100%;
	width: 14rem;
}

 .Present_Film_Detail_Item {
	width: 100%;
	text-align: center;
	z-index: 2;
	display: none;
	position: absolute;
	bottom: 2vw;
	padding: 0 auto;
	margin: 0 auto;
}

 .Present_Film_Detail_Item button {
	 margin: 10px;
	transition: 0.3s;
	border-radius: 5px;
	color: white;
	border: 0;
	background-color: #B50505;
}

 .Present_Film_Detail_Item button:hover {
	background-color: #750505;
}

 .Present_Film_Detail_Item button:active {
	color: #B50505;
	background-color: #494949;
	border: 0;
}

 .Present_Film h4 {
	padding-top: 0.5rem;
	font-size: 1.2rem;
}