@import'../../styles/scss/variables.scss';
.Current {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.Current_Img {
    position: relative;
    width: 35%;
    img {
        width: 100%;
        height: 100%;
    }
}

.Current_Info {
    padding-left: 2.5rem;
    display: flex;
    width: 65%;
    flex-direction: column;
    h1 {
        font-weight: bold;
        text-align: center;
        color: rgb(247, 1, 1);
        padding-bottom: 5%;
    }
    button{
        width: 40%;
        background-color: #f18100;
        color: rgb(255, 255, 255);
        border-radius: 5%;
        margin-top: 5%;
        padding:10px ;
        
    }
}

.Current_Info_Detail {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    b {
        color: #797c7c;
    }
}

.Current_Info_Detail_Voting {
    display: flex;
    flex-direction: row;
    p {
        align-self: center;
        margin: 0;
    }
    >section {
        padding-left: 1.5rem;
        >i {
            font-size: 30px;
            color: #ccc;
            &:hover {
                cursor: pointer;
                font-size: 30px;
                color: #f5dd06;
            }
        }
    }
}

.Current_Info_Des {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h3 {
        width: 10rem;
    }
    p {
        margin: 0;
        padding-left: 0.5rem;
    }
}