main {
	height: auto;
	margin: 0 3.5rem;
}

.poster_content img {
	width: 100%;
	height: auto;
}

.active {
	visibility: visible !important;
	opacity: 1 !important;
}

.HightLightFilm {
	margin-bottom: 3rem;
}

.HightLightFilm h2 {
	text-shadow: 0 0 8PX #0D0C0C;
	margin-top: 1rem;
	text-align: center;
	font-weight: bold;
	color: red;
	font-family: 'Rammetto_One';
}

.HightLightFilm h3 {
	font-weight: bold;
	font-size: 1.4rem;
	margin-left: 4%;
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
}

footer {
	background-color: #c4c4c4;
	border-top: 1px solid black;
	display: flex;
	padding: 2rem 4rem;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin-top: 2rem;
}

footer .blog {
	width: 20vw;
}

footer .blog h5 {
	padding-bottom: 0.5rem;
}

footer .blog div {
	margin-top: 0.7rem;
}

footer .blog a {
	color: #0D0C0C;
}

footer .blog_2 {
	background-color: #728180;
}

footer .blog_2 a {
	color: white;
}



.Film {
	margin-top: 1.6rem;
}