
.Pagination {
    text-align: center; }
  
  @font-face {
    .Pagination {
      font-family: 'Edmondsans';
      src: url("http://designitcodeit.com/live/huP64P3jnA76/fonts/edmondsans-bold-webfont.eot");
      src: url("http://designitcodeit.com/live/huP64P3jnA76/fonts/edmondsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://designitcodeit.com/live/huP64P3jnA76/fonts/edmondsans-bold-webfont.woff") format("woff"), url("http://designitcodeit.com/live/huP64P3jnA76/fonts/edmondsans-bold-webfont.ttf") format("truetype"), url("http://designitcodeit.com/live/huP64P3jnA76/fonts/edmondsans-bold-webfont.svg#EdmondsansBoldRegular") format("svg");
      font-weight: bold;
      font-style: normal; } }
    .Pagination > ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
      .Pagination > ul .disabled a, .Pagination > ul .disabled:hover a {
        color: #333;
        cursor: default; }
      .Pagination > ul > li {
        border-right: 10px solid transparent;
        border-bottom-width: 17px;
        border-top-width: 17px;
        border-style: solid;
        transform: rotate(360deg);
        border-left: 0;
        height: 0;
        float: left;
        margin-right: 3px;
        position: relative;
        border-top-color: #282828;
        border-bottom-color: #282828; }
        .Pagination > ul > li:before {
          border-left-color: #282828;
          border-right-color: #282828; }
        .Pagination > ul > li > a {
          color: #888;
          font-family: "Edmondsans";
          font-size: 15px;
          font-weight: bold;
          text-decoration: none; }
        .Pagination > ul > li .active a {
          color: #ccc; }
        .Pagination > ul > li:hover a {
          color: #c9282d; }
        .Pagination > ul > li:before {
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-top-color: transparent;
          border-width: 17px 10px 17px 0;
          border-style: solid;
          position: absolute;
          content: '';
          left: -10px;
          height: 0px;
          top: -17px;
          width: 0px; }
        .Pagination > ul > li > a {
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          transition: all .2s linear;
          line-height: 36px;
          margin-top: -17px;
          display: block;
          height: 34px;
          width: 30px; }
      .Pagination > ul .active:before, .Pagination > ul .active::after, .Pagination > ul .active ~ li:before {
        border-left-color: #282828;
        border-right-color: #282828; }
      .Pagination > ul .active:after, .Pagination > ul .active:before {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-width: 17px 10px 17px 0;
        border-style: solid;
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        top: -17px;
        left: -10px; }
      .Pagination > ul .active:after {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        border-width: 17px 0 17px 10px;
        left: 100%; }
      .Pagination > ul .active ~ li:before {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-width: 17px 0 17px 10px;
        right: -10px;
        left: auto; }
      .Pagination > ul .active ~ li {
        border-left: 10px solid transparent;
        border-right: 0; }
      .Pagination > ul .active {
        border-right: 0;
        border-left: 0; }
      .Pagination > ul .prev {
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px; }
      .Pagination > ul .next {
        -webkit-border-radius: 0 20px 20px 0;
        -moz-border-radius: 0 20px 20px 0;
        border-radius: 0 20px 20px 0;
        border-right: 0; }
      .Pagination > ul .prev a, .Pagination > ul .next a {
        text-indent: -4px;
        line-height: 38px;
        font-size: 30px; }
      .Pagination > ul .prev a {
        text-indent: 4px; }
      .Pagination > ul .prev:before, .Pagination > ul .next:before {
        content: none; }
  