@import'../styles/scss/variables.scss';
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color: #ffffff;
    color: #43464b;
}

main {
    height: auto;
    margin: 0 3.5rem;
}

@font-face {
    font-family: Rammetto_One;
    src: url("/template/font/RammettoOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.nav_master {
    top: 0;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #D4DCDB;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.nav_master_sec {
    width: auto;
    width: 40%;
    position: relative;
    h1 {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
        color: red;
        font-family: Rammetto_One;
        font-size: 2vw;
    }
    img {
        position: absolute;
        top: 26%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

.nav_master_nav {
    width: 100%;
    height: 100%;
    ul {
        padding-left: 20%;
        padding-bottom: 2rem;
        width: 100%;
        li {
            padding-top: 1rem;
            padding-right: 2.5rem;
            a {
                color: black;
                &:hover {
                    color: #FB0505;
                }
            }
        }
    }
}

.nav_menu {
    padding: 0;
    margin-top: 3rem;
    background-color: #0D0C0C;
    ul {
        width: auto;
        padding: 0.6rem 0;
        margin: 0rem auto;
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        li {
            padding: 0rem 2rem;
            width: auto;
            border-right: 2px solid #FDF9F9;
            .dropdown-menu {
                margin: 0 !important;
                background-color: #1e1c1c;
                a {
                    padding: 0.3rem 0;
                    color: #FF810d;
                    text-shadow: 0 0 10px #ffec80;
                    &:hover {
                        background-color: #1e1c1c;
                        color: #ffd724;
                    }
                    &:focus {
                        color: #FF810d;
                    }
                }
            }
            a {
                padding: 0;
                text-align: center;
                color: #DFD9D9;
                &:hover {
                    color: #FB0505;
                }
            }
             :last-child {
                border-right: unset;
            }
        }
    }
}

footer {
    background-color: #c4c4c4;
    border-top: 1px solid black;
    display: flex;
    padding: 2rem 4rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    .blog {
        width: 20vw;
        h5 {
            padding-bottom: 0.5rem;
        }
        div {
            margin-top: 0.7rem;
        }
        a {
            color: #0D0C0C;
        }
    }
    .blog_2 {
        background-color: #728180;
        a {
            color: white;
        }
    }
    .relation {
        text-align: center;
        width: 30vw;
        display: flex;
        flex-direction: column;
        section {
            display: flex;
            flex-wrap: wrap;
        }
        img {
            margin: 0.5rem 0.1rem;
            width: 30%;
            height: auto;
        }
    }
    .intro {
        padding-left: 2rem;
        font-size: 0.9rem;
        width: 100%;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    padding: 0;
    margin: 0;
}

.Main {
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;
}

.Main_Info {
    align-self: flex-start;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        margin: 0 auto;
        display: block;
        width: 80%;
    }
}

.Main_Info_Detail {
    margin-top: 1.4rem;
    position: relative;
    height: 17rem;
    h3 {
        top: 0;
        background-color: #f5a81b;
        border: 2px solid #868585;
        box-shadow: 2px 3px 8px #727272;
        position: absolute;
        text-align: center;
        z-index: 1;
        height: 15%;
        left: 0;
        margin: 0;
        padding: 0;
    }
    >section {
        height: 85%;
        position: absolute;
        background-color: #f6f7f9;
        top: 7.5%;
        max-width: 100%;
        ul {
            margin-top: 7.5%;
            margin-bottom: 7.5%;
            list-style-type: none;
            padding: 0;
            >li {
                white-space: nowrap;
                overflow: hidden;
                font-size: 1.1rem;
                text-overflow: ellipsis;
                padding: 0.4rem 1rem;
                border-bottom: 2px solid #d3d2d2;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    button {
        position: absolute;
        right: 0;
        color: white;
        bottom: 0;
        border: none;
        height: 15%;
        border-radius: 4px;
        background-color: #2791e7;
        &:hover {
            background-color: #085391;
            transition: 0.3s;
        }
    }
}