@import'../styles/scss/variables.scss';
@import '../styles/scss/master/user-master.scss';
.Content {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    h3 {
        text-align: center;
        color: rgb(247, 45, 45);
    }
    &_Img {
        //border: 3px solid #E38312;
        width: 55%;
    }
    &_Form {
        background-color:rgb(236, 228, 228);
        padding: 0 3.5rem;
        width: 45%;
        &_Info {
            >input {
                padding: 5px;
                font-weight: bold;
                border-radius: 4px;
                background-color: #D9F8EE;
                width: 100%;
                margin: 0.4rem 0;
                border: 2px solid #E38312;
                padding-left: 1.8rem;
                outline: none;
                transition: 0.5s;
                &:focus {
                    border: 1.5px solid #E38312;
                    box-shadow: 0 0px 2px rgb(167, 90, 3);
                }
            }
        }
        label {
            cursor: pointer;
        }
        input[type=checkbox] {
            cursor: pointer;
        }
        button {
           // float: right;
            border: none;
            padding: 5px 50px;
            border-radius: 6px;
            background-color: #F37603;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 1.2rem;
        }
        &_Check {
            input {
                height: 1rem;
                width: 1rem;
            }
            display: inline;
        }
    }
}