@import'../../styles/scss/variables.scss';
.nav_menu {
    padding: 0;
    margin-top: 3rem;
    background-color: #0D0C0C;
    ul {
        width: auto;
        padding: 0.6rem 0;
        margin: 0rem auto;
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        li {
            padding: 0rem 2rem;
            width: auto;
            border-right: 2px solid #FDF9F9;
            .dropdown-menu {
                margin: 0 !important;
                background-color: #1e1c1c;
                a {
                    padding: 0.3rem 0;
                    color: #FF810d;
                    text-shadow: 0 0 10px #ffec80;
                    &:hover {
                        background-color: #1e1c1c;
                        color: #ffd724;
                    }
                    &:focus {
                        color: #FF810d;
                    }
                }
            }
            a {
                padding: 0;
                text-align: center;
                color: #DFD9D9;
                &:hover {
                    color: #FB0505;
                }
            }
             :last-child {
                border-right: unset;
            }
        }
    }
}