<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/user-page/Book.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <nav class="nav_master">
        <section class="nav_master_sec">
            <img src="../img/Star.svg" alt="">
            <h1>WEB TWO</h1>
        </section>

        <nav class="navbar navbar-expand-sm  nav_master_nav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </nav>
    <nav class="navbar navbar-expand-sm nav_menu">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PHIM</a>
                <div class="dropdown-menu">
                    <a href="" class="dropdown-item"><i> PHIM ĐANG CHIẾU</i></a>
                    <a href="" class="dropdown-item"><i> PHIM SẮP CHIẾU</i></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">RẠP/GIÁ VÉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MUA VÉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">THÀNH VIÊN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SỰ KIỆN</a>
            </li>
        </ul>
    </nav>


    <main>
        <section class="container Main">
            <aside class="Main_Info">
                <img src="../img/SeatFilm.svg" alt="">
                <section class="Main_Info_Detail">
                    <h3>ALADIN</h3>
                    <section>
                        <ul>
                            <li>Rạp: Nguyễn Du</li>
                            <li>Suất chiếu: 22:15 Thứ năm, 30/5/2019</li>
                            <li>Phòng Chiếu: </li>
                            <li>Ghế: A1, B1, C1, D1, E1, G1, T1, H1, Y1, V1, S1 </li>
                            <li>Tổng: </li>
                        </ul>

                    </section>
                    <button>Tiếp Tục</button>
                </section>
            </aside>
            <section class = "Main_Booking">
                <h3>LOẠI VÉ - COMBO</h3>
                <section class = "Main_Booking_Info">
                    <article class = "Main_Booking_Info-All Main_Booking_Info_Ticket">
                        <h4>Vé</h4>
                        <table>
                            <thead>
                                <tr class = "Main_Booking_Info-All-Menu ">
                                    <td class ="type">Loại</td>
                                    <td class ="Number">Số Lượng</td>
                                    <td class ="Price">Giá</td>
                                    <td class ="Sum">Tổng Tiền</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2D</td>
                                    <td><input type="number"></td>
                                    <td>70.0000</td>
                                    <td>140.000</td>
                                </tr>
                                <tr>
                                    <td>3D</td>
                                    <td><input type="number"></td>
                                    <td>90.000</td>
                                    <td>270.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </article>
                    
                    <article class = "Main_Booking_Info-All Main_Booking_Info_Combo">
                            <h4>Combo</h4>    
                            <table>
                                    <thead>
                                        <tr class = "Main_Booking_Info-All-Menu ">
                                            <td class ="type">Combo</td>
                                            <td class ="Number">Số Lượng</td>
                                            <td class ="Price">Giá</td>
                                            <td class ="Sum">Tổng Tiền</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="../img/comboo.png" alt=""><label for="">Combo 1</label> </td>
                                            <td><input type="number"></td>
                                            <td>70.0000</td>
                                            <td>140.000</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../img/comboo.png" alt=""><label for="">Combo 2</label></td>
                                            <td><input type="number"></td>
                                            <td>90.000</td>
                                            <td>270.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                    </article>
                </section>
            </section>

        </section>

    </main>
    <footer>
        <section class="blog">
            <h5>GÓC ĐIỆN ẢNH</h5>
            <div class="blog_1"><a href="">>> Bình Luận</a></div>
            <div class="blog_2"><a href="">>> BLOG</a></div>
        </section>
        <section class="relation">
            <h5>LIÊN KẾT</h5>
            <section>
                <img src="../img/footer/IC2.svg" alt="">
                <img src="../img/footer/IC4.svg" alt="">
                <img src="../img/footer/IC5.svg" alt="">
                <img src="../img/footer/IC6.svg" alt="">
                <img src="../img/footer/IC7.svg" alt="">
                <img src="../img/footer/IC8.svg" alt="">
            </section>

        </section>
        <section class="intro">
            <h5>GIỚI THIỆU</h5>
            <section>
                <div><strong> CÔNG TY TNHH : WEB TWO</strong></div>
                <div>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày
                    14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh</div>
                <div>Địa Chỉ: 227 Nguyễn Văn Cừ , Quân 5 , Thành phố Hồ Chí Minh</div>
                <div>Hotline: 1900 6017COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED </div>
            </section>
        </section>
    </footer>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>