<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/user-page/Film.css">

    <title>Document</title>
</head>

<body>
    <nav class="nav_master">
        <section class="nav_master_sec">
            <img src="../img/Star.svg" alt="">
            <h1>WEB TWO</h1>
        </section>

        <nav class="navbar navbar-expand-sm  nav_master_nav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </nav>
    <nav class="navbar navbar-expand-sm nav_menu">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PHIM</a>
                <div class="dropdown-menu">
                    <a href="" class="dropdown-item"><i> PHIM ĐANG CHIẾU</i></a>
                    <a href="" class="dropdown-item"><i> PHIM SẮP CHIẾU</i></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">RẠP/GIÁ VÉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MUA VÉ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">THÀNH VIÊN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SỰ KIỆN</a>
            </li>
        </ul>
    </nav>


    <nav class="Link">
        <ul>
            <li class="Home">
                <a href=""></a>
                <span></span>
            </li>
            <li>
                <a href="">Phim</a>
                <span>/ </span>
            </li>
            <li>
                <a href="">Phim Đang Chiếu</a>
                <span>/ </span>
            </li>
            <li>
                <a href=""><strong><u>Aladin</u> </strong> </a>

            </li>
        </ul>

    </nav>
    <main class="container">
        <h2> NỘI DUNG PHIM</h2>
        <header class="Current">
            <section class="Current_Img">
                <img src="../img/Film.svg" alt="">
            </section>
            <section class="Current_Info">
                <h1>
                    ALADIN
                </h1>
                <section class="Current_Info_Detail">
                    <article><b>Thời Lượng:</b> 120 Phút</article>
                    <article><b>Thể loại:</b> Phiêu Lưu, Giả tưởng, Gia Đình</article>
                    <article><b>Quốc gia:</b> Mỹ</article>
                    <article><b>Đạo Diễn:</b> Guy Ritchie</article>
                    <article><b>Ngày:</b> 23/5/2019</article>
                    <article class="Current_Info_Detail_Voting">
                        <p><b>Đánh giá:</b> </p>
                        <section>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </section>
                    </article>
                </section>
                <section class="Current_Info_Des">
                    <h3>Nội dung:</h3>
                    <p>Aladdin 2019 là phiên bản live action của bộ phim hoạt hình nổi tiếng ra mắt vào năm 1992.
                        Trong phiên bản này, siêu sao Hollywood Will Smith vào vai Thần Đèn.
                        Gia cảnh khốn cùng, xuất thân bần hàn, chàng trai khu ổ chuột Aladdin làm thế nào để gặp gỡ
                        và được nàng công chúa Jasmine mạnh mẽ xinh đẹp đem lòng yêu thương?
                    </p>
                </section>
            </section>
        </header>

        <section class="Content">
            <section class="Theater">
                <h3>LỊCH CHIẾU:</h3>
                <section class="Theater_Calendar">
                    <ul>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>
                        <li>
                            <span>05</span>
                            <em>wed</em>
                            <strong>29</strong>
                        </li>

                    </ul>

                </section>
                <section class="Theater_Calendar_Addr">
                    <article>
                        <select>
                            <option value="volvo">Cả cước</option>
                            <option value="saab">Cà Mau</option>
                            <option value="mercedes">TP HCM</option>
                            <option value="audi">Hà Nội</option>
                        </select>
                    </article>

                    <article>
                        <select>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </article>
                </section>
                <section class="Theater_Calendar_List">
                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15s</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>

                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href="">09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                    <article class="Theater_Calendar_List_Theater">
                        <h4>Web Two Nguyễn Du</h4>
                        <section class="Theater_Calendar_List_Theater_Ticket">
                            <h5>2D - Phụ đề</h5>
                            <section class="Theater_Calendar_List_Theater_Ticket_ListTime">
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                                <article><a href=""> 09:15</a> </article>
                            </section>
                        </section>
                    </article>

                </section>
            </section>
            <aside class="Present">
                <h3>PHIM ĐANG CHIẾU</h3>
                <article class="Present_Film">
                    <section class="Present_Film_Detail">
                        <img src="../img/film1.svg" alt="">
                        <section class="Present_Film_Detail_Item">
                            <button>Chi Tiết</button>
                            <button>Mua vé</button>
                        </section>
                    </section>
                    <h4>DRAGON BALL</h4>

                </article>
                <article class="Present_Film">
                    <section class="Present_Film_Detail">
                        <img src="../img/film1.svg" alt="">
                        <section class="Present_Film_Detail_Item">
                            <button>Chi Tiết</button>
                            <button>Mua vé</button>
                        </section>
                    </section>
                    <h4>DRAGON BALL</h4>

                </article>
                <article class="Present_Film">
                    <section class="Present_Film_Detail">
                        <img src="../img/film1.svg" alt="">
                        <section class="Present_Film_Detail_Item">
                            <button>Chi Tiết</button>
                            <button>Mua vé</button>
                        </section>
                    </section>
                    <h4>DRAGON BALL</h4>

                </article>
                <article class="Present_Film">
                    <section class="Present_Film_Detail">
                        <img src="../img/film1.svg" alt="">
                        <section class="Present_Film_Detail_Item">
                            <button>Chi Tiết</button>
                            <button>Mua vé</button>
                        </section>
                    </section>
                    <h4>DRAGON BALL</h4>

                </article>
                <article class="Present_Film">
                    <section class="Present_Film_Detail">
                        <img src="../img/film1.svg" alt="">
                        <section class="Present_Film_Detail_Item">
                            <button>Chi Tiết</button>
                            <button>Mua vé</button>
                        </section>
                    </section>
                    <h4>DRAGON BALL</h4>

                </article>

            </aside>
        </section>
    </main>
    <footer>
        <section class="blog">
            <h5>GÓC ĐIỆN ẢNH</h5>
            <div class="blog_1"><a href="">>> Bình Luận</a></div>
            <div class="blog_2"><a href="">>> BLOG</a></div>
        </section>
        <section class="relation">
            <h5>LIÊN KẾT</h5>
            <section>
                <img src="../img/footer/IC2.svg" alt="">
                <img src="../img/footer/IC4.svg" alt="">
                <img src="../img/footer/IC5.svg" alt="">
                <img src="../img/footer/IC6.svg" alt="">
                <img src="../img/footer/IC7.svg" alt="">
                <img src="../img/footer/IC8.svg" alt="">
            </section>

        </section>
        <section class="intro">
            <h5>GIỚI THIỆU</h5>
            <section>
                <div><strong> CÔNG TY TNHH : WEB TWO</strong></div>
                <div>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày
                    14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh</div>
                <div>Địa Chỉ: 227 Nguyễn Văn Cừ , Quân 5 , Thành phố Hồ Chí Minh</div>
                <div>Hotline: 1900 6017COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED </div>
            </section>
        </section>
    </footer>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>