<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/user-page/home.css">
    <title>Document</title>
</head>
<body>
    <nav class= "nav_master">
        <section class = "nav_master_sec">
            <img src="../img/Star.svg" alt="">
            <h1>WEB TWO</h1>
        </section>
        
        <nav class="navbar navbar-expand-sm  nav_master_nav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                          </li>
                  </ul>
         </nav>
        </nav>
    <nav class="navbar navbar-expand-sm nav_menu">
            <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PHIM</a>
                      <div class = "dropdown-menu">
                        <a href="" class="dropdown-item"><i> PHIM ĐANG CHIẾU</i></a>
                        <a href="" class="dropdown-item"><i> PHIM SẮP CHIẾU</i></a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">RẠP/GIÁ VÉ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">MUA VÉ</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">THÀNH VIÊN</a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" href="#">SỰ KIỆN</a>
                              </li>
                  </ul>
    </nav>
    <header >
        <div class="carousel slide poster" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner poster_content">
                  <div class="carousel-item active">
                    <img src="../img/poster.svg" alt="Los Angeles" >
                  </div>
                  <div class="carousel-item">
                    <img src="../img/poster.svg"  alt="Chicago" >
                  </div>
                  <div class="carousel-item">
                    <img src="../img/poster.svg"  alt="New York" >
                  </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                
        </div>

       
      </header>
    <main>
      
      <section class="HightLightFilm">
        <h2>* MOVIE *</h2>

        <article class = "Film">
            <h3>PHIM ĐANG CHIẾU</h3>
        
            <section class="ListFilm Present">
                    <article  class="ListFilm_Item">
                      <img src="../img/film1.svg" alt="">
                      
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film2.svg" alt="">
                    
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film3.svg" alt="">
                  
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film4.svg" alt="">
                     
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
    
            </section>

        </article>
        
        <article class="Film">


            <h3>PHIM SẮP CHIẾU</h3>
        
            <section class="ListFilm Future">
              
                    <article  class="ListFilm_Item">
                      <img src="../img/film1.svg" alt="">
                      
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film2.svg" alt="">
                    
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film3.svg" alt="">
                  
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
                    <article  class="ListFilm_Item">
                      <img src="../img/film4.svg" alt="">
                     
                      <section class="ListFilm_Item_Button">
                        <button>Chi Tiết</button>
                        <button>Mua vé</button>
                      </section>
                      <section class="ListFilm_Item_Info">
                          <h4>ALADIN</h4>  
                          <div>Thể loại: Bí ẩn, Phiêu Lưu</div>
                          <div>Thời Lượng: 135 phút</div>
                          <div>Khơi Chiếu: 24-05-2019</div>
                        </section>
                    </article>
    
            </section>
        </article>
       
      </section>
     

    </main>
    <footer>
      <section class ="blog">
        <h5>GÓC ĐIỆN ẢNH</h5>
        <div class = "blog_1"><a href="">>> Bình Luận</a></div>
        <div class = "blog_2"><a href="">>> BLOG</a></div>
      </section>
      <section class ="relation">
          <h5>LIÊN KẾT</h5>
          <section>
              <img src="../img/footer/IC2.svg" alt="">
              <img src="../img/footer/IC4.svg" alt="">
              <img src="../img/footer/IC5.svg" alt="">
              <img src="../img/footer/IC6.svg" alt="">
              <img src="../img/footer/IC7.svg" alt="">
              <img src="../img/footer/IC8.svg" alt="">
          </section>
        
      </section>
      <section class = "intro">
        <h5>GIỚI THIỆU</h5>
        <section>
          <div><strong> CÔNG TY TNHH : WEB TWO</strong></div>
          <div>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày 14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh</div>
          <div>Địa Chỉ:  227  Nguyễn  Văn Cừ , Quân 5 , Thành phố Hồ Chí Minh</div>
          <div>Hotline: 1900 6017COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED </div>
        </section>
      </section>
    </footer>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/user-page/home.js"></script>
</html>