@import '../master/user-master.scss';
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    padding: 0;
    margin: 0;
}

.Main {
    margin-top: 2.4rem;
    display: flex;
    &_Info {
        align-self: flex-start;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            margin: 0 auto;
            display: block;
            width: 80%;
        }
        &_Detail {
            margin-top: 1.4rem;
            position: relative;
            height: 17rem;
            h3 {
                top: 0;
                background-color: #f5a81b;
                border: 2px solid #868585;
                box-shadow: 2px 3px 8px rgb(114, 114, 114);
                position: absolute;
                text-align: center;
                z-index: 1;
                height: 15%;
                left: 0;
                margin: 0;
                padding: 0;
            }
            >section {
                height: 85%;
                position: absolute;
                background-color: hsl(220, 18%, 97%);
                top: 7.5%;
                max-width: 100%;
                ul {
                    margin-top: 7.5%;
                    margin-bottom: 7.5%;
                    list-style-type: none;
                    padding: 0;
                    >li {
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 1.1rem;
                        text-overflow: ellipsis;
                        padding: 0.4rem 1rem;
                        border-bottom: 2px solid #d3d2d2;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            button {
                position: absolute;
                right: 0;
                color: rgb(255, 255, 255);
                bottom: 0;
                //   padding: 0.3rem 0.5rem;
                border: none;
                height: 15%;
                border-radius: 4px;
                background-color: hsl(207, 80%, 53%);
                &:hover {
                    background-color: hsl(207, 89%, 30%);
                    transition: 0.3s;
                }
            }
        }
    }
    &_Booking {
        width: 70%;
        padding-left: 4rem;
        h3 {
            text-align: center;
        }
        &_Info {
            margin-top: 2rem;
            &-All {
                margin-top: 3rem;
                h4 {
                    text-align: center;
                    width: 6rem;
                    background-color: hsl(32, 100%, 55%);
                    border: 3px solid #FE0B0B;
                    border-radius: 6px;
                }
                table,
                th,
                tr {
                    border: 2px solid black;
                }
                >table {
                    width: 100%;
                    >thead {
                        >tr {
                            height: 2.5rem;
                            >td {
                                font-size: 1.5rem;
                                text-align: center;
                                &:last-child {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    >tbody {
                        >tr {
                            height: 4.5rem;
                            td {
                                text-align: center;
                                >input {
                                    width: 4.5rem;
                                }
                            }
                        }
                    }
                }
                &-Menu {
                    background-color: #A95304;
                    color: white;
                }
            }
            &_Combo {
                >table {
                    >tbody {
                        >tr {
                            >td {
                                &:first-child {
                                    height: 8rem;
                                    width: 8rem;
                                }
                                label {
                                    font-weight: bold;
                                    color: #EF0D0D;
                                    text-shadow: 3px 4px 5px #acbb09;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}