body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color:#D4DCDB;
}

@font-face {
    font-family:Rammetto_One;
    src:url('/template/font/RammettoOne-Regular.ttf') format('truetype');
    font-weight:normal;
     font-style:normal;
    }
.nav_master{
    position:fixed;
    z-index: 1;
    width: 100%;
    background-color: #D4DCDB;
    height: 3rem;
    display: flex;
    flex-direction: row;
    &_sec{  width: auto;
        width: 40%;
        position: relative;
        h1{
            width: auto;
            
            position:absolute;
          //  padding-left: 32%;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            font-weight: 800;
            color: red;
            font-family: Rammetto_One;
            font-size:2vw;
        }    
        
        img{
            position: absolute;
            top:26%;
            left:75%;
            
            transform: translate(-50%,-50%);
        }
    }
 
    &_nav{
       
        width: 100%;
        height: 100%;
        
        ul{
            padding-left: 20%;
            padding-bottom: 2rem;
            width: 100%;
            li{ padding-top:1rem;
                a{
                    &:hover{
                        color: #FB0505;
                    }
                    color: black;
                }
                padding-right: 2.5rem;
               
            }
        }
    }
    
}
main{
    height: auto;
    margin: 0 3.5rem;
}

.poster{
    
   &_content{
       img{
           width: 100%;
           height: auto;
       }
   }
}

.nav_menu
{
    padding: 0;
    background-color:#0D0C0C;
    ul {
        width: auto;
        padding: 0.6rem 0;
        margin: 0rem auto;
        .dropdown:hover > .dropdown-menu{
            display: block;
            
    }
        li{
            .dropdown-menu{
                margin: 0 !important;
                background-color: #1e1c1c;
                a{
                    padding: 0.3rem 0;
                    color: #FF810d;
                    text-shadow: 0 0 10px hsl(51, 100%, 75%);
                }
                a:hover{
                    background-color:  #1e1c1c;
                    color: #ffd724;
                }
                a:focus{
                    color: #FF810d;
                }
            }
            padding: 0rem 2rem;
            width: auto;
            border-right: 2px solid #FDF9F9;
            a{
                &:hover{
                    color: #FB0505;
                }
                padding: 0;
                text-align:center;
                color: #DFD9D9;
            }
            :last-child{
                border-right:unset;
               
            }

          
        }
        
        
    }}
.active{
    visibility:visible !important;
    opacity: 1 !important;

}    
.HightLightFilm{
    margin-bottom: 3rem;
    h2{
        text-shadow: 0 0 8PX #0D0C0C;
        margin-top: 1rem;
        text-align: center;
        font-weight: bold;
        color: red;
        font-family: 'Rammetto_One';
    }
    
        h3{
            font-weight: bold;
            font-size: 1.4rem;
            margin-left: 4%;
            border-bottom:1px solid black;
            margin-bottom: 2rem;
        }
    
}
.ListFilm{
    overflow: hidden;
    position: relative;
    width: 90%;
    left: 0;
    right: 0;
    height: 30rem;
    margin:0 auto;
    &_Item{
        cursor: pointer;
        img{
           width: 100%;
            height: 22rem;
        }
      
       
        width: 25%;
        position: absolute;
        top:0;
        height:  30rem;
        
        visibility: hidden;
        opacity: 0;
        text-align: center;
        transition:visibility 1s, opacity 1s;
        &:hover > &_Button{
            display: block;
        }
        &:hover > img{
            opacity: 0.7;
        }

        &_Info{
            h4{
                font-weight: bold;
                font-size: 1.4rem;
            }
            font-weight: bold;
            font-size: 1rem;
            padding-left: 2vw;
            text-align: start;
            position: absolute;
            bottom: 0;
        }

        &_Button{
            display: none;
            left: 0;
            z-index: 2;
            button{
                
                border-radius: 5px;
                color: white;
                border: 0;
                background-color: #B50505;
                
                    &:hover{
                        background-color: rgb(117, 5, 5);
                    }
                    &:active{
                        color: #B50505;
                        background-color: rgb(73, 73, 73);
                        border: 0;
                    }

                    
                
            }
         
            right: 0;
            bottom: 35%;
            margin:0 auto;
            position: absolute;
        }
      
    }
   

}
footer{
    background-color: #c4c4c4;
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
    padding: 2rem 4rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    .blog{
        h5{
            padding-bottom: 0.5rem;
        }
        div{
            margin-top: 0.7rem;
        }
        a{
            color: #0D0C0C;
        }
        
        width: 20vw;
        &_2{
            background-color: #728180;
           a{
            color: white;
           } 
        }
    }
    .relation{
        text-align: center;
        width: 30vw;
        display: flex;
        flex-direction: column;
       
       section{
           display: flex;
           flex-wrap: wrap;
       }
        img{
            margin:0.5rem 0.1rem;
            width: 30%;
            height: auto;
        }
        
    }
    .intro{
        padding-left: 2rem;
        font-size: 0.9rem;
        width: 100%;
    }
}
.Film{
    margin-top: 1.6rem ;
}


       
 
    
