@import'../../styles/scss/variables.scss';
.ListFilm_Item {
    position: relative;
    cursor: pointer;
    top: 0;
    width: 22%;
    margin: 0 auto;
    height: 35vw;
    text-align: center;
    img {
        width: 100%;
        height: 80%;
    }
    &:hover> {
        .ListFilm_Item_Button {
            display: block;
        }
        img {
            opacity: 0.7;
        }
    }
}

.ListFilm_Item_Info {
    font-weight: bold;
    font-size: 1.2vw;
    left: 0;
    text-align: start;
    position: absolute;
    bottom: 0;
    h4 {
        font-weight: bold;
        font-size: 1.2vw;
    }
}

.ListFilm_Item_Button {
    display: none;
    left: 0;
    z-index: 2;
    right: 0;
    bottom: 14%;
    position: relative;
    .link button {
        color: white;
        margin: 10px;
        border-radius: 5px;
        border: 0;
        background-color: #B50505;
    }
    button {
        &:hover {
            background-color: #750505;
        }
        &:active {
            color: #B50505;
            background-color: #494949;
            border: 0;
        }
    }
}