
.ListFilm_Item {
	position: relative;
	cursor: pointer;
	top: 0;
	width: 22%;
	margin: 0 auto;
	height: 35vw;
	text-align: center;
}

.ListFilm_Item img {
	width: 100%;
	height: 80%;
}

.ListFilm_Item:hover >.ListFilm_Item_Button {
	display: block;
}

.ListFilm_Item:hover>img {
	opacity: 0.7;
}

.ListFilm_Item_Info {
	font-weight: bold;
	font-size: 1.2vw;
	left: 0;
	text-align: start;
	position: absolute;
	bottom: 0;
}

.ListFilm_Item_Info h4 {
	font-weight: bold;
	font-size: 1.2vw;
}

.ListFilm_Item_Button {
	display: none;
	left: 0;
	z-index: 2;
	right: 0;
	bottom: 14%;
	position: relative;
}

.ListFilm_Item_Button .link button {
	color: white;
	margin: 10px;
	border-radius: 5px;
	border: 0;
	background-color: #B50505;
}


.ListFilm_Item_Button button:hover {
	background-color: #750505;
}

.ListFilm_Item_Button button:active {
	color: #B50505;
	background-color: #494949;
	border: 0;
}