body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color: #ffffff;
    color: #43464b;
}

main {
    height: auto;
    margin: 0 3.5rem;
}

@font-face {
    font-family: Rammetto_One;
    src: url('./font/RammettoOne-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

.nav_master {
    top: 0;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #D4DCDB;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.nav_master_sec {
    width: auto;
    width: 40%;
    position: relative;
}

.nav_master_sec h1 {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: red;
    font-family: Rammetto_One;
    font-size: 2vw;
}

.nav_master_sec img {
    position: absolute;
    top: 26%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.nav_master_nav {
    width: 100%;
    height: 100%;
}

.nav_master_nav ul {
    padding-left: 20%;
    padding-bottom: 2rem;
    width: 100%;
}

.nav_master_nav ul li {
    padding-top: 1rem;
    padding-right: 2.5rem;
}

.nav_master_nav ul li a {
    color: black;
}

.nav_master_nav ul li a:hover {
    color: #FB0505;
}

.nav_menu {
    padding: 0;
    margin-top: 3rem;
    background-color: #0D0C0C;
}

.nav_menu ul {
    width: auto;
    padding: 0.6rem 0;
    margin: 0rem auto;
}

.nav_menu ul .dropdown:hover>.dropdown-menu {
    display: block;
}

.nav_menu ul li {
    padding: 0rem 2rem;
    width: auto;
    border-right: 2px solid #FDF9F9;
}

.nav_menu ul li .dropdown-menu {
    margin: 0 !important;
    background-color: #1e1c1c;
}

.nav_menu ul li .dropdown-menu a {
    padding: 0.3rem 0;
    color: #FF810d;
    text-shadow: 0 0 10px #ffec80;
}

.nav_menu ul li .dropdown-menu a:hover {
    background-color: #1e1c1c;
    color: #ffd724;
}

.nav_menu ul li .dropdown-menu a:focus {
    color: #FF810d;
}

.nav_menu ul li a {
    padding: 0;
    text-align: center;
    color: #DFD9D9;
}

.nav_menu ul li a:hover {
    color: #FB0505;
}

.nav_menu ul li :last-child {
    border-right: unset;
}

footer {
    background-color: #c4c4c4;
    border-top: 1px solid black;
    display: flex;
    padding: 2rem 4rem;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

footer .blog {
    width: 20vw;
}

footer .blog h5 {
    padding-bottom: 0.5rem;
}

footer .blog div {
    margin-top: 0.7rem;
}

footer .blog a {
    color: #0D0C0C;
}

footer .blog_2 {
    background-color: #728180;
}

footer .blog_2 a {
    color: white;
}

footer .relation {
    text-align: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

footer .relation section {
    display: flex;
    flex-wrap: wrap;
}

footer .relation img {
    margin: 0.5rem 0.1rem;
    width: 30%;
    height: auto;
}

footer .intro {
    padding-left: 2rem;
    font-size: 0.9rem;
    width: 100%;
}

.poster_content img {
    width: 100%;
    height: auto;
}

.active {
    visibility: visible !important;
    opacity: 1 !important;
}

.HightLightFilm {
    margin-bottom: 3rem;
}

.HightLightFilm h2 {
    text-shadow: 0 0 8PX #0D0C0C;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: red;
    font-family: 'Rammetto_One';
}

.HightLightFilm h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 4%;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.ListFilm {
    padding: 0 1.4srem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
}

.ListFilm_Item {
    position: relative;
    cursor: pointer;
    top: 0;
    width: 22%;
    margin: 0 auto;
    height: 35vw;
    text-align: center;
}

.ListFilm_Item img {
    width: 100%;
    height: 80%;
}

.ListFilm_Item:hover>.ListFilm_Item_Button {
    display: block;
}

.ListFilm_Item:hover>img {
    transition: 0.3s;
    opacity: 0.7;
}

.ListFilm_Item_Info {
    font-weight: bold;
    font-size: 1.2vw;
    left: 0;
    text-align: start;
    position: absolute;
    bottom: 0;
}

.ListFilm_Item_Info h4 {
    font-weight: bold;
    font-size: 1.2vw;
}

.ListFilm_Item_Button {
    display: none;
    left: 0;
    z-index: 2;
    right: 0;
    bottom: 20%;
    position: relative;
}

.ListFilm_Item_Button button {
    transition: 0.3s;
    border-radius: 5px;
    color: white;
    border: 0;
    background-color: #B50505;
}

.ListFilm_Item_Button button:hover {
    background-color: #750505;
}

.ListFilm_Item_Button button:active {
    color: #B50505;
    background-color: #494949;
    border: 0;
}

.Film {
    margin-top: 1.6rem;
}