
.Link {
	background-color: #dcdcda;
	border-bottom: 1px solid #a1a19d;
	padding: 2px 0;
}

.Link>ul {
	padding: 0 10%;
	margin: 0;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.Link>ul>li {
	cursor: pointer;
}

.Link>ul>li>a {
	color: #636363;
}

.Link>ul>li>span {
	height: 4px;
	width: 4px;
	background: url("../../img/nav/arrow.png");
	text-indent: -9999px;
}

.Link>ul>li:first-child a {
	background: url("../../img/nav/home.svg") no-repeat scroll center center transparent;
}
