.Content_Form_Register {
    background-color: #F5F0F0;
    padding: 0 3.5rem;
    width: 45%;
}

.Content_Form_Register_Info>input {
    font-weight: bold;
    border-radius: 4px;
    background-color: #D9F8EE;
    width: 100%;
    margin: 0.4rem 0;
    border: 1px solid #E38312;
    padding-left: 1.8rem;
    outline: none;
    transition: 0.5s;
}

.Content_Form_Register_Info>input:focus {
    border: 1.5px solid #E38312;
    box-shadow: 0 0px 2px #a75a03;
}

.Content_Form_Register label {
    cursor: pointer;
}

.Content_Form_Register input[type=checkbox] {
    cursor: pointer;
}

.Content_Form_Register button {
    border: none;
    border-radius: 6px;
    background-color: #F37603;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.Content_Form_Register_Check {
    display: inline;
}

.Content_Form_Register_Check input {
    height: 1rem;
    width: 1rem;
}