.nav_menu {
	padding: 0;
	margin-top: 3rem;
	background-color: #0D0C0C;
}

.nav_menu ul {
	width: auto;
	padding: 0.6rem 0;
	margin: 0rem auto;
}

.nav_menu ul .dropdown:hover>.dropdown-menu {
	display: block;
}

.nav_menu ul li {
	padding: 0rem 2rem;
	width: auto;
	border-right: 2px solid #FDF9F9;
}

.nav_menu ul li .dropdown-menu {
	margin: 0 !important;
	background-color: #1e1c1c;
}

.nav_menu ul li .dropdown-menu a {
	padding: 0.3rem 0;
	color: #FF810d;
	text-shadow: 0 0 10px #ffec80;
}

.nav_menu ul li .dropdown-menu a:hover {
	background-color: #1e1c1c;
	color: #ffd724;
}

.nav_menu ul li .dropdown-menu a:focus {
	color: #FF810d;
}

.nav_menu ul li a {
	padding: 0;
	text-align: center;
	color: #DFD9D9;
}

.nav_menu ul li a:hover {
	color: #FB0505;
}

.nav_menu ul li :last-child {
	border-right: unset;
}