footer .relation {
	text-align: center;
	width: 30vw;
	display: flex;
	flex-direction: column;
}

footer .relation section {
	display: flex;
	flex-wrap: wrap;
}

footer .relation img {
	margin: 0.5rem 0.1rem;
	width: 30%;
	height: auto;
}
