@import'../../styles/scss/variables.scss';
.nav_master {
    top: 0;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #D4DCDB;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.nav_master_sec {
    width: auto;
    width: 40%;
    position: relative;
    h1 {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
        color: red;
        font-family: Rammetto_One;
        font-size: 2vw;
    }
    img {
        position: absolute;
        top: 26%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

.nav_master_nav {
    width: 100%;
    height: 100%;
    ul {
        padding-left: 20%;
        padding-bottom: 2rem;
        width: 100%;
        li {
            padding-top: 1rem;
            padding-right: 2.5rem;
            a {
                color: black;
                &:hover {
                    color: #FB0505;
                }
            }
        }
    }
}