.nav_master {
	top: 0;
	opacity: 0.7;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #D4DCDB;
	height: 3rem;
	display: flex;
	flex-direction: row;
}

.nav_master_sec {
	width: auto;
	width: 40%;
	position: relative;
}

.nav_master_sec h1 {
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 800;
	color: red;
	font-family: Rammetto_One;
	font-size: 2vw;
}

.nav_master_sec img {
	position: absolute;
	top: 26%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.nav_master_nav {
	width: 100%;
	height: 100%;
}

.nav_master_nav ul {
	padding-left: 20%;
	padding-bottom: 2rem;
	width: 100%;
}

.nav_master_nav ul li {
	padding-top: 1rem;
	padding-right: 2.5rem;
}

.nav_master_nav ul li a {
	color: black;
}

.nav_master_nav ul li a:hover {
	color: #FB0505;
}