@import'../../styles/scss/variables.scss';
.Main_Booking {
    width: 70%;
    padding-left: 4rem;
    h3 {
        text-align: center;
    }
}

.Main_Booking_Info {
    margin-top: 2rem;
}

.Main_Booking_Info_Combo>table>tbody>tr>td {
    &:first-child {
        height: 8rem;
        width: 8rem;
    }
    label {
        font-weight: bold;
        color: #EF0D0D;
        text-shadow: 3px 4px 5px #acbb09;
    }
}